body {
    overflow: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav {
    position: sticky;
    background-image: repeating-linear-gradient(#620F13, #87282D, #3E0003);
    height: 2em;
    box-shadow: rgb(102, 58, 58) -1px 2px 13px;
}

span {
    margin-top: 4px;
}

footer {
    position: sticky;
    background-image: repeating-linear-gradient(#620F13, #87282D, #3E0003);
    height: 2em;
    bottom: 0;
    box-shadow: rgb(102, 58, 58) 0px 2px 15px;
}

.container {
    max-width: 1500px;
    height: inherit;
    display: grid;
    background-color: black;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

.nav-item {
    display: grid;
    grid-template-columns: 33.4% 33.4% 33.4%;
    height: inherit % 2;
}

.nav-box {
    height: inherit;
}

.toggle-btn {
    height: inherit;
}

.toggle-btn span {
    height: 5px;
    width: 40px;
    display: block;
    background: black;
    border: .05px solid rgb(70, 36, 36);
    margin-left: 10px;
}

.toggle-btn span:hover {
    border: .05px solid rgb(153, 112, 112);
}

.spotify-sign-in {
    justify-self: right;
    height: inherit;
    width: inherit;
}

.spotify-btn {
    height: 25px;
    width: inherit;
    margin-right: 15px;
    margin-top: 2.5px;
    padding: 1px;
    color: limegreen;
    background-color: black;
    border-radius: 45%;
}

.main-div {
    display: grid;
    height: 90vh;
    grid-gap: .5%;
    grid-template-columns: 45% 35% 20%;
    background-color: black;
}

.track-window {
    display: grid;
    grid-template-rows: auto auto;
}

.tracks {
    border: .5px solid black;
}

.track-art {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    margin-top: 10px;
    height: 60vh;
    border-radius: 2.5%;
    background-image: repeating-linear-gradient(#620F13, #87282D, #3E0003);
    box-shadow: rgb(102, 58, 58) -1px 2px 13px;
}

.track-description {
    height: 90px;
    border-radius: 2.5%;
}

.main-playlist {
    width: inherit;
}

.center-items {
    width: 100%;
}

.main-playlist-items {
    display: inline-grid;
    grid-gap: 3%;
    height: 20%;
    width: 100%;
    border-radius: 2.5%;
    box-shadow: rgb(102, 58, 58) 0px 5px 5px;
}

.playlist-art {
    background-image: repeating-linear-gradient(#620F13, #87282D, #3E0003);
    height: 60%;
    border-radius: 2.5%;
    box-shadow: rgb(102, 58, 58) 0px 5px 5px;
}

.metadata-playlist-container {
    display: inline-grid;
    grid-template-rows: auto auto;
}

.metadata-items {
    display: inline-grid;
    box-shadow: rgb(102, 58, 58) 0px 5px 5px;
    margin: 0;
}

@media screen and (max-width: 800px) {

    body {
      overflow-y: auto;
      overflow-x: auto;
    }

    .main-div {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }

    .center-items {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      margin-top: 20px;
    }

}