* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", cursive;
}

body {
  overflow: hidden;
}

nav {
  position: sticky;
  background-image: repeating-linear-gradient(#620f13, #87282d, #3e0003);
  top: 0;
  height: 2em;
  box-shadow: rgb(102, 58, 58) -1px 2px 13px;
  z-index: 1000;
}

span {
  margin-top: 4px;
}

select {
  position: sticky;
  top: 0;
}

section {
  overflow-y: auto;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  position: sticky;
  background-image: repeating-linear-gradient(#620f13, #87282d, #3e0003);
  height: 2em;
  bottom: 0;
  box-shadow: rgb(102, 58, 58) 0px 2px 15px;
  z-index: 1000;
}

.login-div {
  display: none;
}

.container {
  display: grid;
  background-color: black;
  grid-template-columns: auto;
  grid-template-rows: repeat(3, auto);
}

.nav-list {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(56, 15, 15);
  max-height: 400px;
  width: 453px;
  padding: 20px;
  line-height: 1.5;
  transform: translateY(-200px);
  transition: transform 1s ease-in-out;
  z-index: 1000;
}

.div.show,
ul.show {
  transform: translateY(200);
  transition: 0.8s;
}

.nav-item {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
}

.nav-box {
  height: inherit;
}

.center-box {
  margin-top: 10px;
  text-align: center;
  color: white;
}

.main-div {
  display: grid;
  height: 90vh;
  grid-gap: 0.1%;
  grid-template-columns: minmax(225px, 1.5fr) minmax(150px, 1fr) minmax(
      200px,
      2fr
    );
  background-color: black;
  grid-template-rows: repeat(auto-fit, 1fr);
}

.center-items {
  margin: 0;
  width: 100%;
}

.container {
  max-width: 1500px;
  display: grid;
}

.play-img:hover {
  cursor: pointer;
  opacity: 50%;
}

.playlist-items {
  height: 150px;
  width: 125px;
}

.playlist-items:hover,
.playlist-btns:hover {
  cursor: pointer;
  border: 0.5px #87282d double;
}

.track-window {
  display: grid;
  grid-template-rows: 2fr 1fr;
}

.side-box {
  background-color: black;
}

.tracks {
  border: 0.5px solid black;
}

.track-art {
  display: grid;
  grid-template-columns: 0.5fr 3fr 0.5fr;
  margin-top: 10px;
  height: 60vh;
  border: 1px double #87282d;
  border-radius: 2.5%;
  background-image: repeating-linear-gradient(#620f13, #87282d, #3e0003);
  box-shadow: rgb(102, 58, 58) -1px 2px 13px;
}

.current-track {
  overflow: hidden;
}

.track-imgs {
  height: 100%;
  width: 100%;
}

.track-description {
  height: 100%;
  border-radius: 2.5%;
  color: white;
  text-align: center;
}

.song-info {
  height: inherit;
  padding-top: 6%;
  font-size: 1.5em;
  line-height: 1.3em;
}

.main-playlist {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  width: inherit;
}

.center-items {
  width: inherit;
  height: inherit;
}

.main-playlist-items {
  grid-gap: 3%;
  height: 100%;
  width: 100%;
  border-radius: 2.5%;
  box-shadow: rgb(102, 58, 58) 0px 5px 5px;
  text-align: center;
  padding: 0.5%;
}

.title-div {
  padding: 4%;
  margin-top: 2.5%;
}

.playlist-title {
  color: white;
  height: 100%;
  width: 100%;
  margin-top: 8%;
}

.playlist-pic {
  height: 100%;
  width: 100%;
}

.playlist-art {
  background-image: repeating-linear-gradient(#620f13, #87282d, #3e0003);
  height: 100%;
  width: 100%;
  border-radius: 2.5%;
  box-shadow: rgb(102, 58, 58) 0px 5px 5px;
}

.playlist-art-img {
  height: 100%;
}

.playback-console {
  display: flex;
  justify-content: space-between;
}

.play-img {
  margin: auto auto;
  width: 10%;
  background-color: black;
  border: none;
}

.play-btn {
  margin-top: 0.5em;
}

.play {
  flex: 3 1 50px;
}

.metadata-playlist-container {
  display: inline-grid;
  grid-template-rows: repeat(2, 1fr);
}

.metadata-items {
  display: inline-grid;
  box-shadow: rgb(102, 58, 58) 0px 5px 5px;
  margin: 0;
}

.track-items {
  display: flex;
  flex: 1 1 300px;
  justify-content: space-between;
  margin: 10px;
  padding: 15px;
  border: 1px double rgb(102, 58, 58);
  box-shadow: rgb(102, 58, 58) -1px 2px 5px;
  color: white;
}

.library {
  height: 100%;
}

.drop-down {
  position: sticky;
  height: 10%;
  padding: 10px;
  background-image: repeating-linear-gradient(#620f13, #87282d, #3e0003);
  z-index: 999;
}

.playlist-library {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1%;
  width: 100%;
  height: 100%;
  padding: 2.5%;
}

.playlist-items {
  position: relative;
  color: white;
  background-color: #87282d;
  max-width: 75px;
  max-height: 20px;
  box-shadow: rgb(102, 58, 58) 0px 1px 1px;
  justify-content: space-between;
}

.playlist-btns {
  border: 1px solid #3e0003;
  position: relative;
  color: white;
  background-color: black;
  max-width: 100%;
  justify-content: space-between;
  box-shadow: rgb(102, 58, 58) -1px 2px 5px;
}

.playlist-items img,
.playlist-btns img {
  z-index: -2;
}

.text {
  position: relative;
  text-align: center;
  justify-content: space-around;
  bottom: 1em;
  font-size: 12px;
}

@media screen and (max-width: 800px) {
  body {
    overflow-y: scroll;
    height: 1fr;
    border: 4px solid #87282d;
  }

  .container {
    position: relative;
    height: 1fr;
    width: 1fr;
    /* overflow-x: hidden; */
    justify-content: center;
  }

  .nav-item {
    position: sticky;
    top: 0;
  }

  .grid-items {
    width: 100vw;
    height: 1em;
  }

  .main-div {
    grid-template-columns: minmax(100px, 1fr);
    grid-template-rows: repeat(auto, minmax(10px, 1fr));
    height: 100%;
    margin: 0 auto;
    width: 90vw;
    justify-content: center;
    z-index: 0;
  }

  .center-box {
    margin: 1% 0;
  }

  .mobile-hide {
    display: none;
  }

  .main-playlist {
    grid-template-rows: repeat(2, 1fr);
  }

  .center-items {
    width: 100%;
    height: 100%;
    margin: 10px auto;
    padding: 10px;
  }

  .track-window {
    padding: 3%;
  }

  .title-div {
    margin: 0 auto;
    margin-bottom: 10%;
    font-size: 1.5em;
    border: 1px double white;
  }

  .track-art {
    margin: 0 0;
  }

  .track-length {
    display: none;
  }

  .drop-down {
    display: none;
  }

  .library {
    height: 40em;
  }

  .playlist-library {
    justify-content: center;
  }

  .metadata-playlist-container {
    height: 43em;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 5%;
    margin-bottom: 2.5%;
    grid-gap: 5%;
  }

  .metadata-items {
    height: 100%;
    border: solid 2px #620f13;
    justify-content: center;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 5%;
  }

  .metadata-items::-webkit-scrollbar {
    display: none;
  }

  .footer {
    position: sticky;
    bottom: 0;
    height: 4fr;
  }
}