* {
  box-sizing: border-box;
  margin: 0;
}

.bg-modal {
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 500px;
  height: 300px;
  z-index: 1001;
}

.login {
  display: flex;
  height: 100%;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c8de2ede-79ce-413b-93f2-5e70bff18f32/d9451wp-3b89815b-8471-42ee-8371-913848edf42a.png/v1/fill/w_1024,h_881,strp/spotify_splatter_button_by_eternalsonicstar_d9451wp-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD04ODEiLCJwYXRoIjoiXC9mXC9jOGRlMmVkZS03OWNlLTQxM2ItOTNmMi01ZTcwYmZmMThmMzJcL2Q5NDUxd3AtM2I4OTgxNWItODQ3MS00MmVlLTgzNzEtOTEzODQ4ZWRmNDJhLnBuZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.fKdrUewhMpQt-I0ej0gohL_2ByAUw0QKFjdnz6fwrAo");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
}

.login-button {
  background-color: black;
  color: white;
  height: 30%;
  width: 40%;
  opacity: 65%;
  text-shadow: 0px 1px 3px rgb(109, 109, 88);
}

.login-button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px;
}

/* @media screen and (min-width: 800px) {

} */
